<div class="pt-5 mt-5 text-center w-50 m-auto">
    <img src="/assets/images/firebaselogo.png" alt="Fire Base Logo" width="250" class="mb-1">
    <h1>Welcome To Our App.</h1>
    <p>Please enter Emai Or Password To Reset Password</p>
    <div class="d-flex flex-column">
        <mat-form-field appearance="outline">
            <mat-label>Reset Password</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
    <button mat-raised-button class="d-block mb-2 auth-button rounded bg-white">Reset Password</button>
    <p>Sign-In Instead?</p>
    <button mat-raised-button class="d-block auth-button bg-primary text-white rounded" [routerLink]="['/auth/sign-in']">Sign In</button>
</div>