<div class="pt-5 mt-5 text-center w-50 m-auto">
    <img src="/assets/images/firebaselogo.png" alt="Fire Base Logo" width="250" class="mb-1">
    <h1>Welcome To Our App.</h1>
    <p>Please enter Emai Or Password To Reset Password</p>
    <div class="d-flex flex-column">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
            <mat-form-field appearance="outline">
                <mat-label>Reset Password</mat-label>
                <input matInput type="text" formControlName="Email">
            </mat-form-field>
            <!--progrees spinner-->
            <div class="d-flex align-items-center" *ngIf="ispasswordEmailSent  &&  isSpinning">
                <mat-spinner diameter="100"></mat-spinner>
                signinigIn...
            </div>
            <div class="alert alert-danger p-2" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div class="alert alert-success p-2" *ngIf="isSubmissinInProgress">
                the reset link is sent to your email , please use the link to reset the Password
            </div>
            <button mat-raised-button class="d-block mb-2 auth-button rounded bg-white" type="submit">Reset Password</button>
        </form>
    </div>
    <p>Sign-In Instead?</p>
    <button mat-raised-button class="d-block auth-button bg-primary text-white rounded" [routerLink]="['/auth/sign-in']">Sign In</button>
</div>